div.candidate
{
     color: aquamarine;
     font-size: 25px;
     font-weight: bold;
     text-align: center;
     background: orange;
}
div.subcandidate
{
    font-size: 20px;
    font-weight: bold;
     color: mistyrose;
     text-align: center;
     background: green;
}
div.sticky{
    top: 5;
  width: 100%;
    position: fixed;
}
div.logout
{
   position:fixed;
    left: 90%;
    top:  5.5%;
}
a{
  color: aqua;  
}